@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    max-width:1015px;
    margin:0 auto;
}
.position {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    width: 20%;
    background-color: #ffffff;
    height: 73px;
    padding-top: 0;
    margin-top: 0;
}

.minilist {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    display: none;
    position: absolute;
    margin-left: -150px;
    justify-content:left;
    box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    -webkit-box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    -moz-box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    padding: 5px;
}
.Zina {
font-family:Roboto;
font-size: 15px;
line-height: 30px;
color: #ababab;
cursor: pointer;
margin: 10px;
display: block;
}
.Zina:hover {
    color: #00B39B;
}

.loun {
    color:#00B39B;
    }
.GZ7 {
    position: relative;
}
.GZ7:hover .minilist {
    display: flex;
}
.ZinaMinilist {
    color: #ababab;
    background-color:#ffffff;
    height: 42px;
    width: 220px;
    padding: 12px 16px 12px 16px;
}
.ZinaMinilist:hover {
    color: #00B39B;
}
.ZinaMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ZinaH1 {
    font-family:"Work sans";
    font-size: 34px;
    font-weight: 300;
    color: #00B39B;
    background-color:#ffffff;
}

.ZinaP {
    display: flex;
    justify-content: space-around; 
}
.IMG {
    height: 39px;
    width: 40px;
}
.ZinaText1 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #747474;
    height: 112px;
    width: 477.5px;
    margin: 13px 0 13px 0;
}
.BoxBG {
    display: flex;
    height: 345px;
    width: 311.625px;
    padding: 32px 32px 32px 32px;
    border-radius: 10px;
    background-color:  #00CCB1;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.BoxB {
    height: 345px;
    width: 311.625px;
    padding: 32px 32px 0 32px;
    border-radius: 10px;
    background-color:  #3D83DF;
    margin: 10px;
}
.BoxDB {
    height: 345px;
    width: 311.625px;
    padding: 32px 32px 0 32px;
    border-radius: 10px;
    background-color:  #1B2734;   
    margin: 10px;
    
}
.Nav {
    padding-top: 100px;
}
.Boxet {
    display: flex;
}
#BC {
    background-color: transparent;
    color: #ffffff;
    border: none;
}